<div class='how_to_use'>
  <h2>オシカツ！について</h2>
  <p>オシカツ！は推しの良さを語ることができ、それを共有できるアプリです</p>
  <p>特徴的な要素としてランキング機能があります</p>
  <p>これはそのキャラクターの人気度をスコアにし、スコアが高い順にランキングにしています</p>
  <p>そのキャラクターに関する投稿、いいね、コメントでスコアが上がります</p>
  <p>自分の推しをランキング上位にあげると幸せになれます</p>
  <h2>その他機能について</h2>
  <p>投稿をクリックすると投稿詳細がモーダルとして出ます</p>
  <p>モーダルではコメントなどができます</p>
  <p>画面右上のアイコンをクリックするとマイページに遷移します<p>
  <p>プロフィール編集、Xへの共有、自分の推し一覧を見ることができます</p>
  <%= link_to '新規登録ページへ', new_user_path, class:'profile-edit-btn' %>
</div>