
<p>プライバシーポリシー</p>
<p>当社はお客様から以下の情報を取得します</p>
<p>・氏名（ユーザー名）</p>
<p>・メールアドレス</p>
<p>・Cookieを用いて生成された識別情報</p>
<p>・当社ウェブサイトでの入力履歴</p>
<p>お客様の情報を利用する目的</p>
<p>当社は、お客様から取得した情報を以下の目的のために利用します</p>
<p>・当社サービスに関する登録の受付、認証のため</p>
<p>・お客様の当社サービスの利用履歴を管理するため</p>
<p>・お客様からのお問い合わせに対応するため</p>
<p>・当社の規約や法令に違反する行為に対応するため</p>
<p>・当社サービスの変更、提供中止、終了をご連絡するため</p>
<p>・当社規約の変更等を通知するため</p>
<p>安全管理のために講じた措置</p>
<p>当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、管理者のXにご連絡をいただきましたら、法令の差ために従い個別にご回答させていただきます</p>
<p>第三者提供</p>
<p>当社は、お客様から取得する情報のうち、個人データ(個人情報保護法第16条第3項)に該当するものについては、あらかじめお客様の同意を得ずに、第三者(日本国外にあるものを含みます)に提供しません</p>
<p>ただし、次の場合は除きます</p>
<p>・個人データの取り扱いを外部に委託する場合</p>
<p>・当社や当社サービスが買収された場合</p>
<p>・事業パートナーと共同利用する場合(具体的な共同利用がある場合は、その内容を別途公表します)</p>
<p>・その他、法律によって合法的に第三者提供が許されている場合</p>
<p>アクセス解析ツール</p>
<p>当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。</p>
<p>Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。</p>
<p>トラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
<p>Cookieを無効にしていれば、これらの情報の収集を拒否することができます。</p>
<p>詳しくはお使いのブラウザの設定をご確認ください。</p>
<p>Googleアナリティクスについて、くわしくは以下からご確認ください。</p>
<p><a href="https://marketingplatform.google.com/about/analytics/terms/jp/">https://marketingplatform.google.com/about/analytics/terms/jp/</a></p>
<p>プライバシーポリシーの変更</p>
<p>当社は必要に応じてこのプライバシーポリシーの内容を変更します。</p>
<p>この場合変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
<p>2024年03月14日 制定</p>

