<div style="text-align: center;">
  <%= image_tag 'twitter_card.png', alt: 'Twitter Card', width: '88%' %>
  <h2>推しの好きなところを語って共有しましょう!</h2>
  <div style="display: flex; justify-content: center; gap: 20px;">
    <%= link_to '使ってみる', root_path, class: "button" %>
    <%= link_to '会員登録へ', new_user_path, class: "button" %>
  </div>
</div>
