<div class="d-flex align-items-center justify-content-between">
  <h1>キャラクターランキング</h1>
</div>
<% if @ranking.present? %>
  <div class="row">
    <% @ranking.each do |character| %>
      <div class="col-md-2 mb-4">
        <%= link_to posts_path(q: { name_cont: character.name }), class: "text-decoration-none" do %>
          <div class="ranking-post">
            <%= image_tag(@most_liked_images[character.id], alt: character.name, class: 'post-img', style: 'border-radius: 10%;') %>
            <h2 class="post-name"><%= character.name.truncate(11) %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>ランキングが作成されませんでした</p>
<% end %>