<div class="form-group nested-fields">
  <%= f.label :tags, "タグ名", class: 'form-label' %>
  <%= link_to_remove_association "削除", f , class: "tag-delete-button" %>
  <%= f.text_field :name, placeholder: 'タグを記入', class: 'form-control mx-auto', style: 'width: 80%;' %><br>
</div>
