.border-short {
  display: none;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 3px solid #ccc;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-link {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
}

.header-link:hover {
  color: white;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.sidebar-link:hover {
  color: rgb(255, 255, 255);
}

.sidebar-link i {
  min-width: 25px;
  text-align: center;
}

.sidebar {
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #000000;
  overflow-y: auto;
  z-index: 2;
  position: fixed;
  border-right: 3px solid #ccc;
}

.sidebar a {
  display: block;
  margin-bottom: 20px;
}

.main-content {
  padding-left: 100px;
  padding-right: 50px;
  margin-left: 150px;
  margin-top: 50px;
  z-index: 2;
}

.line {
  position: fixed;
  left: 150px;
  top: 70px;
  bottom: 0;
  width: 1px;
  background-color: #ccc;
  z-index: 1;
}

.post {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 2;
}

.image-container {
  position: relative;
}

.like-icon {
  position: absolute;
  bottom: 1px;
  right: 3px;
  color: red;
}

.post-img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.new-post {
  font-size: 18px;
  margin-left: auto;
  margin-right: 15px;
}

.new-post a {
  text-decoration: none;
  color: #ccc;
}

.new-post a:hover {
  text-decoration: none;
  color: white;
}

.post-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 21px;
  max-width: 100%;
}

.heart-icon {
  color: red;
}

.post-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
}

.like_button {
  padding-right: 15px;
}

.modal-like-button {
  padding-right: 30px;
}

.privacy-policy h2{
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.privacy-policy p{
  color: #515151;
}

.profile-edit-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-edit-btn:hover {
  background-color: #e0e0e0;
}

.post-body {
  word-wrap: break-word;
  word-break: break-all;
}



.comment{
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-user {
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
}

.comment-user-link {
  text-decoration: none;
  color: inherit;
}

.comment-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-details {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.comment-user-name {
  font-size: 11px;
}

.comment-body {
  margin-top: 5px;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word; 
}

.character-search{
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.character-search-field{
  width: 200px;
  padding-left: 10px;
  padding-right: 5px;
}

.search-button {
  width: 70px;
  padding: 7px;
  margin-left: 10px;
  background-color: #646464;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000;
}

.page-title{
  padding-right: 50px;
  white-space: nowrap; 
}

.cr-image{
  display: none;
}

.logo h1 {
  color: white;
  padding: auto, 20px;
}

.fa-trash{
  font-size: 25px;
  padding-right: 20px;
}

.ranking-position{
  font-size: 21px;
}

.modal-heart{
  font-size: 25px;
}

.how_to_use h2{
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.how_to_use p{
  color: #515151;
  font-size: 20px;
}

.beginner {
  animation: blinker 3.0s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.new-badge{
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
}
